<!-- Modal -->
<div class="modal fade" id="crearVentaModal" tabindex="-1" aria-labelledby="crearVentaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content shadow-lg">
            <div class="modal-header bg-dark text-white text-center">
                <h5 class="modal-title" id="crearVentaLabel">Crear Venta</h5>
                <button type="button" class="btn-close white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="mb-3">
                        <label for="fecha_venta" class="form-label">Fecha de Venta</label>
                        <input type="date" name="fecha_venta" id="fecha_venta" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="cliente_id" class="form-label">Cliente</label>
                        <input type="text" class="form-control" id="nombreCliente" name="nombreCliente" required>
                    </div>

                    <div class="mb-3">
                        <label for="lugardeventa" class="form-label">Lugar de Venta</label>
                        <input type="text" class="form-control" id="lugardeventa" name="lugardeventa" required>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>